doctype html
html
    head 
        title DuckLabs
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")  
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        link(rel="shortcut icon", href="/images/duck-logo-1.png")
        style 
            include style.css
    body
        div(class="second-background")
            div(class="container mh-100 pb-20")
                div(class="row valign-wrapper")
                    div(class="col s12 m4")
                        img(src='/images/duck-logo-2.png', class="logo-config", alt="QuackLabs logo")
                    div(class="col s12 m8")
                        div(class="row center-align")
                            div(class="col s12 m12")
                                h1(class="amber-text text-darken-1 left-align h1-title") Quack#[span(class="white-text") Labs]
                            div(class="col s12 m12")
                                div(class="font-style pl-10")
                                    span(class="right-align") Nos encanta  
                                        div(class="animation-font left-align")
                                            ul(class="flip4 purple-text text-lighten-2") 
                                                li Programar
                                                li Planificar
                                                li Trabajar 
                                                li Crear  
                                                li Innovar
                div(class="row center-align pt-20")
                    div(class="col s12 m12 font-style-desc justify-text")
                        span(class="white-text") En cualquier entorno... #[span(class="blue-text text-darken-3") ¡Hacemos cosas increíbles!] Desarrollamos estrategias que nos ayudan a crear soluciones claras, objetivas y funcionales, nuestros clientes son nuestra inspiración diaria.
                div(class="row bottom-page center-align white-text")
                    <i class="large material-icons jump">keyboard_arrow_down</i>
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150")
            path(fill="#212121" fill-opacity="1" d="M0,32L60,37.3C120,43,240,53,360,74.7C480,96,600,128,720,128C840,128,960,96,1080,90.7C1200,85,1320,107,1380,117.3L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z")

        div(class="container mt-0")
            div(class="row valign-wrapper")
                div(class="col s12 m6")
                    div(class="center-align")
                        h3(class="blue-text text-darken-3") Desarrollo Web
                        h5(class="grey-text text-darken-4") Desarrollamos sitios auto administrables, responsivos, funcionales, interactivos y enfocados a los requerimientos de cada cliente.
                div(class="col s12 m6")
                    div(class="right-align")
                        img(src='/images/web-development.png', class="logo-config", alt="desarrollo web")
            div(class="row valign-wrapper")
                div(class="col s12 m6")
                    div(class="left-align")
                        img(src='/images/mobile-development.png', alt="desarrollo móvil")
                div(class="col s12 m6")
                    div(class="center-align")
                        h3(class="blue-text text-darken-3") Desarrollo Móvil
                        h5(class="grey-text text-darken-4") Desarrollamos aplicaciones móviles para iOS y Android, nuestros servicios incluyen, planeación, diseño, publicación y mantenimiento.
        div(class="bg-grey pt-20 pb-20")
            div(class="container")
                div(class="row")
                    div(class="col s12 m12")
                        div(class="center-align")
                            h5(class="blue-text text-darken-3") Nuestras herramientas
                div(class="row center-align valign-wrapper pt-20")
                    div(class="col s4 m3")
                        img(src="/images/node-js.png", class="img-icon", alt="NodeJs logo")
                    div(class="col s4 m3")
                        img(src="/images/html.png", class="img-icon", alt="HTML logo")
                    div(class="col s4 m3")
                        img(src="/images/css.png", class="img-icon", alt="CSS logo")
                    div(class="col s4 m3")
                        img(src="/images/js.png", class="img-icon", alt="Javascript logo")
                div(class="row center-align valign-wrapper pt-20")
                    div(class="col s4 m3")
                        img(src="/images/android.png", class="img-icon", alt="Android logo")
                    div(class="col s4 m3")
                        img(src="/images/flutter.png", class="img-icon", alt="Flutter logo")
                    div(class="col s4 m3")
                        img(src="/images/mongodb.png", class="img-icon", alt="MongoDB logo")
                    div(class="col s4 m3")
                        img(src="/images/oracle.png", class="img-icon", alt="Oracle logo")
                 



        svg(class="mt-20 display-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
            path(fill="#212121" fill-opacity="1" d="M0,288L80,282.7C160,277,320,267,480,245.3C640,224,800,192,960,192C1120,192,1280,224,1360,240L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z")
        div(class="second-background mh-100 valign-wrapper")
            div(class="container pb-20")
                h4(class="white-text mt-0") Equipo
                div(class="row mt-20")
                    each teammate, index in team
                        div(class="col s6 m6 l3")
                            div(class="card large grey darken-3 noselect")
                                div(class="card-image")
                                    //img(src=teammate.imageUrl)
                                    img(src=teammate.imageRoute, class="card-image-size")
                                    span(class="card-title") #{teammate.name}
                                div(class="card-content white-text")
                                    p #{teammate.description}
                                div(class="card-action")
                                    a(href=`/profile/${index}`, class="amber-text text-darken-1") Ver más

        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')